.app-footer {
    height: 60px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 10;
    background-color: #4ec0c0;
 
    
}

.app-title {
    line-height: 60px;
    vertical-align: middle;
    font-size: 1.08em;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.app-branding {
    float: left;
    
}

.app-options {
    float: right;
}

.app-nav ul {
    list-style-position: none;
    margin: 0;
    padding: 0;
}

.app-nav ul li {
    list-style-type: none;
    display: inline-block;
    
}

.app-nav ul li a {
    display: inline-block;
    line-height: 60px;
    vertical-align: middle;
    padding-left: 15px;
    padding-right: 15px;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.app-nav ul li a:hover {
    color: orange;
}

.app-nav ul li a.active {
    color: #0f96f6;
}